#sidebar
  %h1
    Contents
  %h2
    %a{href:'#attributes'} 1. Attributes
  %h3
    %a{href:'#strength'} Strength
  %h3
    %a{href:'#intelligence'} Intelligence
  %h3
    %a{href:'#willpower'} Willpower
  %h3
    %a{href:'#agility'} Agility
  %h3
    %a{href:'#speed'} Speed
  %h3
    %a{href:'#endurance'} Endurance
  %h3
    %a{href:'#personality'} Personality
  %h3
    %a{href:'#luck'} Luck

#page-wrap
  %h1 Compendium

  %h2#attributes 1. Attributes

  %h3#strength Strength
  Controls the damage you cause with weapons, as well as how much you can carry.
  It also helps determine your maximum Fatigue and starting Health.
  .small-text
    Governed skills:
    %a{href:'#acrobatics'} Acrobatics
    %a{href:'#armourer'} Armourer
    %a{href:'#axe'} Axe
    %a{href:'#blunt_weapon'} Blunt Weapon
    %a{href:'#long_blade'}Long Blade

  %h3#intelligence Intelligence
  Controls your maximum Magicka and enhances your enchanting and alchemical abilities.
  .small-text
    Governed skills:
    %a{href:'#alchemy'} Alchemy
    %a{href:'#conjuration'} Conjuration
    %a{href:'#enchant'} Enchant
    %a{href:'#security'} Security

  %h3#willpower Willpower
  Controls your odds of success at spellcasting and your chance to resist Magicka.
  It also determines your maximum Fatigue.
  .small-text
    Governed skills:
    %a{href:'#alteration'} Alteration
    %a{href:'#destruction'} Destruction
    %a{href:'#mysticism'} Mysticism
    %a{href:'#restoration'} Restoration

  %h3#agility Agility
  Controls your chance to hit enemies, as well as to dodge their attacks.
  Also reduces your chance to get knocked down in combat and affects your fatigue.
  .small-text
    Governed skills:
    %a{href:'#block'} Block
    %a{href:'#light_armour'} Light Armour
    %a{href:'#marksman'} Marksman
    %a{href:'#sneak'} Sneak

  %h3#speed Speed
  Controls your rate of movement when walking, running, swimming, or levitating.
  .small-text
    Governed skills:
    %a{href:'#athletics'} Athletics
    %a{href:'#hand_to_hand'} Hand-to-hand
    %a{href:'#short_blade'} Short Blade
    %a{href:'#unarmoured'} Unarmoured

  %h3#endurance Endurance
  Controls your starting and maximum Health, and your maximum Fatigue.
  Also slows down fatigue loss while running, and while fighting.
  .small-text
    Governed skills:
    %a{href:'#heavy_armour'} Heavy Armour
    %a{href:'#medium_armour'} Medium Armour
    %a{href:'#spear'} Spear

  %h3#personality Personality
  Controls how much people like you, how successful you are at persuasion, and the prices you get at vendors.
  .small-text
    Governed skills:
    %a{href:'#illusion'} Illusion
    %a{href:'#mercantile'} Mercantile
    %a{href:'#speechcraft'} Speechcraft

  %h3#luck Luck
  Helps everything you do in a small way.
  .small-text
    Luck does not govern any skills

  %h2#skills 2. Skills

  %h3 Acrobatics
  Determines jump distance and ability to avoid damage when falling from great heights.
  .small-text
    Governing attribute:
    %a{href: '#strength'} Strength
    %br
      Specialization: Stealth

