.creator-input {
  width: 40%;
  float: left;
}

.creator-output {
  width: 40%;
  float: left;

  .attributes {
    border: 2px black solid;
  }

  .skills {
    border: 2px black solid;
    float: left;
    margin-right: 4px;
    width: 30%;
  }
}

td.separator {
  border-bottom: 1px black solid;
}