%h3 Morrowind RPG Manager


.headerUserActions
  - if current_user
    = link_to current_user.email, user_path(current_user)
    = link_to "Logout", :logout, method: :post
  - else
    = link_to "Login", :login